@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');


* {
	margin:0;
	font-family: 'Montserrat', sans-serif;f;
}







body {
   overflow-x: hidden;
}






header {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 90%;
	margin: auto;
	height: 100px;
	border-bottom:5px solid #442131;
}


ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu {
    display: flex;
	align-items: center;
	justify-content: space-between;
	width: 30%;
}

ul > li {

}

ul > li > a {
	text-decoration: none;
	color: #555;
}

.logo-container {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 200px;
}

.logo > h3 {

	color: #121;

}


.logo-container:hover {
	cursor: pointer;
}

ul > li > a:active {
	color:#121;
}

.active {
	color:#442131;
}

.presentation {
	display: flex;
	height: 90vh;
	width: 90%;
	margin: auto;
	align-items: center;
}

.info {
	margin:50px 0;
	flex: 1;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 60vh;
}

.product {
	flex: 1;
	text-align: center;
}

.product > img {
	height: 40%;
}






.info-text > h1 {
	text-align:center;
	margin-bottom: 25px;
}



.cart {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 60px;
}


.info-text {
	width: 60%;
	margin: 0 auto;
	margin-top: 4vh;
	font-size: 25px;
	text-align: left;

}

.add {
	margin-left: 10px;
	border:0;
	background-color: #442131;
	width: 150px;
	height: 50px;
	font-size: 15px;
	color: #fff;
}

.other {
	margin-right: 10px;
	border: 2px solid #442131;
	background-color: transparent;
	width: 150px;
	height: 50px;
	font-size: 15px;
}




@media only screen and (max-width: 1439px)  {
	.products-gallery {
		width: 100%;
		margin-top: 200px;
		flex-direction: column;
		justify-content: center;
		align-items: center;

	}

	.presentation {
		flex-direction: column;
		justify-content: space-between;
		height: 90vh;
		width: 100%;
	}

	.product > img {
		height: 90%;
	}

	.cta {
		margin: 50px 0;
	}

	.header {
		margin: 20px 0;
	}
}



.cart > img:hover {
	cursor: pointer;
}

.modal {
	display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}




.cartModal {
	width: 50%;
	margin: auto;
	margin-top: 1vh;
	height: 98vh;
	border:5px solid #442131;
	border-radius: 5px;
	background-color: #fff;
	display: none;
	z-index: 1;
}

.productline {
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-bottom:1px solid #442131;
	height: 150px;
}

.productline1 {
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-bottom:1px solid #442131;
	height: 150px;
}
.productline2 {
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-bottom:1px solid #442131;
	height: 150px;
}
.productline3 {
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-bottom:1px solid #442131;
	height: 150px;
}









.buttonbuy {
	border:0;
	color: white;
	background-color:  #442131;
	border-radius: 2px;
	width: 75px;
	height: 35px;
	position: absolute;
	right: 30%;
	bottom: 30px;
}

.buttonclose {
	border:2px solid #442111;
	color: black;
	background-color: transparent;
	border-radius: 2px;
	width: 75px;
	height: 35px;
	position: absolute;
	left: 30%;
	bottom: 30px;
}

.remove {
	background-color: #442131;
	border:0;
	width: 30px;
	color: white;
	height: 30px;
}

.addOneMore {
	background-color: #446631;
	border:0;
	width: 80px;
		color: #FFF;
	height: 30px;
}



button:hover {
	cursor: pointer;
}

.products-gallery {
	display: flex;
	justify-content: space-around;

}



.row {
	display: flex;
	flex-direction: column;
}


.card {
	text-align: center;
	width: 300px;
	margin-bottom: 20px;
	padding: 30px 120px;
	height: 400px;
	border:3px solid #442131;
}

.card > p {
	margin-bottom: 20px;
	width: 100%;
}


.add1 {
	border:0;
	background-color: #442131;
	width: 150px;
	height: 50px;
	font-size: 15px;
	color: #fff;
}

.other1 {
	border: 2px solid #442131;
	background-color: transparent;
	width: 150px;
	height: 50px;
	font-size: 15px;
}


.buttons1 {
	width: 100%;
	display: flex;


}














/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 411px) {






}


/* Desktops and laptops ----------- */
@media only screen  and (max-width : 1224px) {
/* Styles */
}

